<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title th:text="${CONTENT_TITLE}">Quản trị viên</title>
        <link th:href="@{/admin-static/dist/css/styles.css}" rel="stylesheet"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/admin-static/my/css/admin.css}">
        <link rel="stylesheet" th:href="@{/admin-static/dist/css/Chart.css}">
        <link rel="stylesheet" th:href="@{/css/my-css/custom-cart.css}">
        <link rel="stylesheet" th:href="@{/css/my-css/toast.css}">
        <th:block layout:fragment="css">
        </th:block>

    </head>
    <body class="sb-nav-fixed">
        <th:block th:replace="/static-fragment/admin-header :: header"></th:block>
        <div id="layoutSidenav">
            <div th:replace="/static-fragment/admin-menu :: menu"></div>
            <div id="layoutSidenav_content">
                <div layout:fragment="body"></div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/ckeditor/ckeditor/ckeditor.js}"></script>
        <script th:src="@{/js/jquery-3.2.1.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/admin-static/dist/js/scripts.js}"></script>
        <script th:src="@{/admin-static/scripts/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/admin-static/scripts/build-assets.js}"></script>
        <script th:src="@{/js/my-js/admin-header.js}"></script>
        <script th:src="@{/js/my-js/toast.js}"></script>
        <th:block layout:fragment="scripts">
        </th:block>
    </body>
</html>