<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="description">
    <section id="product-description mb-5">
        <div class="container ">
            <p class="font-weight-bold maintitle">
            <h2 class="font-weight-bold">MÔ TẢ SẢN PHẨM</h2>
            </p>
        </div>
        <div class="description-more">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 load-more">
                        <div>
                            <p class="font-weight-bold" style="font-size: 2rem;"> Ma thuật trong thiết kế</p>
                            <p class="text-left">Huawei nova 3i có 3 tùy chọn màu sắc đầy cá tính là Trắng ngọc
                                trai, Đen và Tím hồng ngoại. Với phần khung kim loại chắc chắn, mặt lưng kính
                                bóng
                                bẩy và cách sơn đặc biệt, Huawei nova 3i đẹp một cách “mê hoặc”. Máy có thiết kế
                                hiện đại, gọn gàng, vừa vặn trong túi nhưng lại vẫn mang trên mình màn hình lớn.
                                Bạn
                                sẽ được tận hưởng mọi thứ một cách rộng lớn qua màn hình 6,3 inch độ phân giải
                                Full
                                HD+ của Huawei nova 3i. Phần viền màn hình được làm tối
                                giản, giúp cho kích thước tổng thể của máy gọn, đồng thời trải nghiệm xem tuyệt
                                vời.
                            </p>
                        </div>
                        <img src="images/shop-detail/huawei-nova-3i10.jpg" class="img-fluid" alt="">
                        <div>
                            <p class="font-weight-bold" style="font-size: 2rem;">Camera selfie kép AI độ phân
                                giải
                                24MP</p>
                            <p class="text-left">Camera trước nova 3i là một trong những camera trước có độ phân
                                giải cao nhất hiện nay với hai cảm biến độ phân giải 24MP + 2MP. Bạn sẽ chụp ảnh
                                selfie một cách đầy đủ chi tiết, chất lượng cao và còn được làm đẹp nhờ trí tuệ
                                nhân
                                tạo AI, cho bạn vẻ đẹp tự nhiên. AI không chỉ làm đẹp khuôn mặt của bạn, nó còn
                                nhận
                                diện được hậu cảnh phía sau để tùy chỉnh màu sắc và độ sáng phù hợp nhất.
                                <img src="images/shop-detail/huawei-nova-3i2.jpg" class="img-fluid" alt="">
                            </p>
                        </div>
                        <div>
                            <p class="font-weight-bold" style="font-size: 2rem;">Ghi lại vẻ đẹp của thế giới với
                                camera kép AI
                            </p>
                            <p class="text-left">Camera sau Huawei nova 3i cũng là một cụm camera kép với hai
                                cảm
                                biến 16MP+2MP. Các thuật toán AI đã thu thập dữ liệu và học hỏi từ hơn 100 triệu
                                bức
                                ảnh, giúp cho Huawei nova 3i nhận diện được 22 đối tượng cùng với 500 khung cảnh
                                khác nhau. Qua đó mọi bức ảnh của bạn đều sống động và có hồn hơn, giúp bạn dễ
                                dàng
                                ghi lại những khoảnh khắc đẹp trong cuộc sống. Tất nhiên là với camera kép thì
                                nova
                                3i hoàn toàn có thể chụp được những bức ảnh xóa phông tự
                                nhiên và đầy chuyên nghiệp.
                                <img src="images/shop-detail/huawei-nova-3i8.jpg" class="img-fluid" alt="">
                            </p>
                        </div>
                        <div>
                            <p class="font-weight-bold" style="font-size: 2rem;"> Sức mạnh từ bộ vi xử lý Kirin
                                710
                            </p>
                            <p class="text-left">Huawei nova 3i đi kèm bộ vi xử lý Kirin 710, được sản xuất trên
                                tiến trình 12nm tiên tiến, mạnh mẽ và tiết kiệm điện năng. Con chip này bao gồm
                                8
                                nhân, trong đó có 4 nhân Cortex A73 cực mạnh, có thể hoạt động trơn tru và chơi
                                tốt
                                tất cả mọi game. Ngoài ra, Kirin 710 còn là bộ vi xử lý tập trung cho trí thông
                                minh
                                nhân tạo AI, từ việc xử lý ảnh cho đến việc quản lý hiệu năng khi chơi game.
                                Chính
                                vì thế, việc sử dụng máy của bạn sẽ luôn diễn ra trơn tru
                                và ổn định.</p>
                            <img src="images/shop-detail/vi-vn-huawei-nova-3i.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Finish Product Specification -->
    <hr/>
</th:block>
</html>