.text-form-title {
    color: white;
}

.change-password-form {
    border: 1px solid #dddddd;
}

.my-account-text {
    border-bottom: dashed;
}

.user-action-left {
    font-size: 17px;
}

.my-account-action-icon {
    color: #b0b435;
}