<header class="main-header">
    <!-- Start Log In Modal-->
    <div class="modal fade" id="signInModel" tabindex="-1" role="dialog" aria-labelledby="signInModelTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class=" modal-title ml-3 font-weight-bold" id="signInModelTitle">Đăng Nhập</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <p class="mt-1 mb-1 font-weight-bold">Tài Khoản:</p>
                            <input type="text" id="inputUser_signIn" class="mb-3 form-control"
                                   placeholder="Nhập Tài Khoản" required="" autofocus="true">
                            <p class="mt-3 mb-1 font-weight-bold">Mật Khẩu:</p>
                            <input type="password" id="inputPassword_signIn" class="mb-3 form-control"
                                   placeholder="Nhập Mật Khẩu" required="">
                            <button
                                    class="rounded-lg my-3 mt-2 btn-lg btn hvr-hover text-light col-sm-12 rounded-lg"
                                    type="submit">Đăng Nhập
                            </button>

                            <div class="row">
                                <div class="col-6 mx-auto">
                                    <p class="text-center font-weight-bold"><a href="#" class="mx-auto"
                                                                               data-toggle="modal"
                                                                               data-target="#forgetPass"
                                                                               data-dismiss="modal"
                                                                               aria-label="Close">Quên
                                        Mật Khẩu</a></p>
                                </div>
                                <div class="col-6 mx-auto">
                                    <p class="text-center font-weight-bold">
                                        <a href="#" class="mx-auto" data-toggle="modal"
                                           data-target="#createAccountModel" data-dismiss="modal"
                                           aria-label="Close">Đăng Ký</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Finish  Log In  Modal-->
    <!-- Start Sign Up Modal-->
    <div class="modal fade" id="createAccountModel" tabindex="-1" role="dialog"
         aria-labelledby="createAccountModelTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class=" modal-title ml-3 font-weight-bold" id="signInModelTitle">Đăng Ký</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <p class="mt-1 mb-1 font-weight-bold">Email:</p>
                            <input type="text" id="inputUser_createAccount" class="mb-3 form-control"
                                   placeholder="Nhập Email" required="" autofocus="true">
                            <p class="mt-1 mb-1 font-weight-bold">Họ Và Tên:</p>
                            <input type="text" id="input-name" class="mb-3 form-control"
                                   placeholder="Nhập Họ Và Tên" required="" autofocus="true">
                            <p class="mt-3 mb-1 font-weight-bold">Giới tính:</p>
                            <div class="form-check form-check-inline custom-radio">
                                <input checked class="form-check-input custom-control-input" type="radio"
                                       name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label custom-control-label" for="inlineRadio1">Nam</label>
                            </div>
                            <div class=" form-check form-check-inline  custom-radio">
                                <input class="form-check-input custom-control-input" type="radio"
                                       name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label custom-control-label" for="inlineRadio2">Nữ</label>
                            </div>
                            <p class="mt-3 mb-1 font-weight-bold">Mật Khẩu:</p>
                            <input type="password" id="inputPassword_createAccount" class="mb-3 form-control"
                                   placeholder="Nhập Mật Khẩu" required="">

                            <p class="mt-3 mb-1 font-weight-bold">Nhập Lại Mật Khẩu:</p>
                            <input type="password" id="inputConfirmPassword_createAccount" class="mb-3 form-control"
                                   placeholder="Nhập Lại Mật Khẩu" required="">


                            <button class="my-4 btn hvr-hover text-light btn-lg col-sm-12 rounded-lg"
                                    type="submit">Đăng Ký
                            </button>
                            <div class="row">
                                <div class="col-6 mx-auto">
                                    <p class="text-center font-weight-bold"><a href="#" class="mx-auto"
                                                                               data-toggle="modal"
                                                                               data-target="#forgetPass"
                                                                               data-dismiss="modal"
                                                                               aria-label="Close">Quên Mật Khẩu</a></p>
                                </div>
                                <div class="col-6 mx-auto">
                                    <p class="text-center font-weight-bold">
                                        <a href="#" class="mx-auto" data-toggle="modal"
                                           data-target="#signInModel" data-dismiss="modal"
                                           aria-label="Close">Đăng Nhập</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Finish Sign Up Modal-->
    <!-- Start Forgot Pass Modal-->
    <div class="modal fade" id="forgetPass" tabindex="-1" role="dialog" aria-labelledby="forgetPassTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title ml-3 font-weight-bold" id="forgetPassTitle">Quên Mật Khẩu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <p class="mt-3 mb-1 font-weight-bold">Email</p>
                            <input type="text" id="inputUser" class="mb-3 form-control" placeholder="Nhập Email"
                                   required="" autofocus="true">
                            <button class="my-3 btn-lg btn hvr-hover text-light float-left col-sm-12 rounded-lg"
                                    type="submit">Lấy Lại Mật Khẩu
                            </button>
                            <div class="row">
                                <div class="col-6 mx-auto">
                                    <p class="text-center font-weight-bold">
                                        <a href="#" class="mx-auto" data-toggle="modal"
                                           data-target="#createAccountModel" data-dismiss="modal"
                                           aria-label="Close">Đăng Ký</a>
                                    </p>
                                </div>
                                <div class="col-6 mx-auto">
                                    <p class="text-center font-weight-bold">
                                        <a href="#" class="mx-auto" data-toggle="modal"
                                           data-target="#signInModel" data-dismiss="modal"
                                           aria-label="Close">Đăng Nhập</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Finish Forgot Pass Modal-->
    <!-- Start Main Top -->
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/dhmobilelogo.png" class="logo"
                                                               alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Danh mục</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                            data-toggle="dropdown" href="#">Hãng<i
                                    class="fas fa-caret-down float-right mt-2"></i></a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Samsung</a>
                                    <a class="dropdown-item" href="#">Toyota</a>
                                </ul>
                            </li>
                            <li><a href="shop.html">Danh sách sản phẩm</a></li>
                            <li><a href="shop-detail.html">Chi tiết sản phẩm</a></li>
                            <li><a href="cart.html">Giỏ hàng</a></li>
                            <li><a href="checkout.html">Đặt hàng</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html">Thông tin</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Liên hệ</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="far fa-user mr-1"></i> Chào,
                            bạn</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#signInModel"> Đăng
                                nhập</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#createAccountModel">Đăng
                                ký</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#forgetPass">Quên
                                mật
                                khẩu</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i>Tìm kiếm</a></li>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                            <p>Giỏ hàng</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt=""/></a>
                        <h6><a href="#">Delica omtantur </a></h6>
                        <p>1x - <span class="price">$80.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt=""/></a>
                        <h6><a href="#">Omnes ocurreret</a></h6>
                        <p>1x - <span class="price">$60.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt=""/></a>
                        <h6><a href="#">Agam facilisis</a></h6>
                        <p>1x - <span class="price">$40.00</span></p>
                    </li>
                    <li class="total">
                        <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: $180.00</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
</header>