<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/consumer-layout.html}">
<!-- Basic -->

<head>
    <title th:text="${CONTENT_TITLE}"></title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="../../css/my-css/shop.css">
        <link rel="stylesheet" href="../../css/my-css/toast.css">
    </th:block>
</head>
<body>
<div layout:fragment="body">
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Danh Sách Sản Phẩm</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{home}">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <div class="container pt-2">
        Có <span th:text="${totalElements}"></span> sản phẩm
    </div>

    <!-- Start Shop Page  -->
    <div class="shop-box-inner pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row no-gutters ">
                            <div class="col-3 text-center text-sm-left px-1 ">
                                <div class="toolbar-sorter-right">
                                    <select id="basic" class="selectpicker show-tick form-control"
                                            data-placeholder="$ USD">
                                        <option data-display="Select">Hãng</option>
                                        <option th:value="all" th:href="@{/shop}">Tất cả</option>
                                        <option th:each="brand:${brands}" th:value="${brand.id}" th:text="${brand.name}"
                                                th:href="@{/shop(brand=${brand.id})}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 text-center text-sm-left px-1 ">
                                <div class="toolbar-sorter-right">
                                    <select id="basic" class="selectpicker show-tick form-control"
                                            data-placeholder="$ USD">
                                        <option data-display="Select">Pin</option>
                                        <option value="1">Samsung</option>
                                        <option value="2">Oppo</option>
                                        <option value="3">Low Price → High Price</option>
                                        <option value="4">Best Selling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 text-center text-sm-left px-1 ">
                                <div class="toolbar-sorter-right">
                                    <select id="basic" class="selectpicker show-tick form-control"
                                            data-placeholder="$ USD">
                                        <option data-display="Select">Ram</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">High Price → High Price</option>
                                        <option value="3">Low Price → High Price</option>
                                        <option value="4">Best Selling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 text-center text-sm-left px-1 ">
                                <div class="toolbar-sorter-right">
                                    <select id="basic" class="selectpicker show-tick form-control"
                                            data-placeholder="$ USD">
                                        <option data-display="Select">Rom</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">High Price → High Price</option>
                                        <option value="3">Low Price → High Price</option>
                                        <option value="4">Best Selling</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--  ĐỔ DỮ LIỆU PRODUCT VÀO TRANG -->
                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4"
                                             th:each="product : ${products}">
                                            <!--/*@thymesVar id="id" type="java"*/-->
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img th:src="'https://st5group08.000webhostapp.com/'+${product.img}"
                                                         class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                                   title="Xem chi tiết"><i class="fas fa-eye"></i></a>
                                                            </li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                                   title="So sánh"><i class="fas fa-sync-alt"></i></a>
                                                            </li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                                   title="Thêm yêu thích"><i
                                                                    class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart p-1">
                                                            <button class="cart btn border-0 btnAddToCart hvr-hover text-light"
                                                                    th:action="@{/add-to-cart}" th:value="${product.id}">Thêm vào giỏ
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="why-text text-center">
                                                    <h4 th:text="${product.name}"></h4>
                                                    <h5 class="product-price" th:text="${product.price}"></h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src="images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right" title="View"><i
                                                                        class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right" title="Compare"><i
                                                                        class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right"
                                                                       title="Add to Wishlist"><i
                                                                        class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>Lorem ipsum dolor sit amet</h4>
                                                    <h5>
                                                        <del>$ 60.00</del>
                                                        $40.79
                                                    </h5>
                                                    <p>Integer tincidunt aliquet nibh vitae dictum. In turpis sapien,
                                                        imperdiet quis magna nec, iaculis ultrices ante. Integer vitae
                                                        suscipit nisi. Morbi dignissim risus sit amet orci porta, eget
                                                        aliquam purus
                                                        sollicitudin. Cras eu metus felis. Sed arcu arcu, sagittis in
                                                        blandit eu, imperdiet sit amet eros. Donec accumsan nisi purus,
                                                        quis euismod ex volutpat in. Vestibulum eleifend eros ac
                                                        lobortis aliquet.
                                                        Suspendisse at ipsum vel lacus vehicula blandit et sollicitudin
                                                        quam. Praesent vulputate semper libero pulvinar consequat. Etiam
                                                        ut placerat lectus.</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right" title="View"><i
                                                                        class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right" title="Compare"><i
                                                                        class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right"
                                                                       title="Add to Wishlist"><i
                                                                        class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>Lorem ipsum dolor sit amet</h4>
                                                    <h5>
                                                        <del>$ 60.00</del>
                                                        $40.79
                                                    </h5>
                                                    <p>Integer tincidunt aliquet nibh vitae dictum. In turpis sapien,
                                                        imperdiet quis magna nec, iaculis ultrices ante. Integer vitae
                                                        suscipit nisi. Morbi dignissim risus sit amet orci porta, eget
                                                        aliquam purus
                                                        sollicitudin. Cras eu metus felis. Sed arcu arcu, sagittis in
                                                        blandit eu, imperdiet sit amet eros. Donec accumsan nisi purus,
                                                        quis euismod ex volutpat in. Vestibulum eleifend eros ac
                                                        lobortis aliquet.
                                                        Suspendisse at ipsum vel lacus vehicula blandit et sollicitudin
                                                        quam. Praesent vulputate semper libero pulvinar consequat. Etiam
                                                        ut placerat lectus.</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right" title="View"><i
                                                                        class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right" title="Compare"><i
                                                                        class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right"
                                                                       title="Add to Wishlist"><i
                                                                        class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>Lorem ipsum dolor sit amet</h4>
                                                    <h5>
                                                        <del>$ 60.00</del>
                                                        $40.79
                                                    </h5>
                                                    <p>Integer tincidunt aliquet nibh vitae dictum. In turpis sapien,
                                                        imperdiet quis magna nec, iaculis ultrices ante. Integer vitae
                                                        suscipit nisi. Morbi dignissim risus sit amet orci porta, eget
                                                        aliquam purus
                                                        sollicitudin. Cras eu metus felis. Sed arcu arcu, sagittis in
                                                        blandit eu, imperdiet sit amet eros. Donec accumsan nisi purus,
                                                        quis euismod ex volutpat in. Vestibulum eleifend eros ac
                                                        lobortis aliquet.
                                                        Suspendisse at ipsum vel lacus vehicula blandit et sollicitudin
                                                        quam. Praesent vulputate semper libero pulvinar consequat. Etiam
                                                        ut placerat lectus.</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--   THYMELEAF PAGINATION -->
                        <div class="clearfix d-flex justify-content-center">
                            <ul class="pagination">
                                <li th:class="${currentPage == 1}? 'page-item disabled' : 'page-item'">
                                    <a class="page-link w-100" th:href="@{/shop}">First</a>
                                </li>
                                <li th:class="${currentPage == 1}? 'page-item disabled': 'page-item' ">
                                    <a class="page-link" aria-label="Previous"
                                       th:href="@{/shop(page=${currentPage - 1}, limit=15)}"
                                       title='Go to previous page'><span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span></a>
                                </li>
                                <li th:each="item : ${#numbers.sequence(1,totalPages)}"
                                    th:class="${item == currentPage ? 'page-item active' :'page-item' }">
                                    <a class="page-link" th:href="@{/shop(page = ${item}, limit =15)}"> <span
                                            th:text='${item}'>1</span>
                                    </a>
                                </li>
                                <li
                                        th:class="${currentPage == totalPages}? 'page-item disabled': 'page-item'">
                                    <a class="page-link" aria-label="Next"
                                       th:href="@{/shop(page =${currentPage + 1}, limit = 15)}"
                                       title='Go to next page'><span
                                            aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
                                </li>
                                <li
                                        th:class="${currentPage == totalPages}? 'page-item disabled':'page-item'">
                                    <a class="page-link w-100"
                                       th:href="@{/shop(page=${totalPages}, limit =15)}">Last</a>
                                </li>
                            </ul>
                        </div>
                        <!--      END THYMELEAF PAGINATION              -->
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree"
                                 id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1"
                                       data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Hãng <small
                                            class="text-muted">(100)</small>
                                    </a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">Samsung
                                                <small class="text-muted">(50)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Apple <small
                                                    class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vivo <small
                                                    class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Oppo <small
                                                    class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Fruits 5 <small
                                                    class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2"
                                       data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Pin
                                        <small class="text-muted">(50)</small>
                                    </a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 1
                                                <small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 2
                                                <small class="text-muted">(20)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">Vegetables 3
                                                <small class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="list-group-item list-group-item-action"> Ram <small
                                        class="text-muted">(150) </small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Rom <small
                                        class="text-muted">(11)</small></a>
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly
                                           style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->
    <!--Toast action when product is in cart-->
    <div id="toast">

    </div>
    <!--end Toast message-->

</div>

<!-- block file script for shop page -->
<th:block layout:fragment="scripts">
    <script src="../../js/my-js/toast.js"></script>
    <script src="../../js/my-js/add-to-cart.js"></script>
    <script src="../../js/my-js/format-price-of-product.js"></script>
</th:block>
</body>

</html>