<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site Metas -->
    <title>PayPal Approved</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" th:href="@{'/images/mylogo.png'}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{'/images/mylogo.png'}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <style>
        header {
            background-color: #b0b435;
            height: 200px;
        }

        a {
            text-decoration: none;
            color: #b48535;
        }

        a:hover {
            padding: 10px 10px;
            text-decoration: none;
            color: #b48535;
        }

        div {
            margin: 100px 500px;
            color: #b0b435;
        }

        footer {
            background-color: #b0b435;
            height: 300px;
        }
    </style>

</head>
<body>
<header>

</header>
<div class="text-center">
    <h4>Thanh toán online thành công!</h4>
    <p id="show-message"></p>
    <a th:href="@{/user/my-order}">Bấm vào đây để vào trang "Quản lý đơn hàng".</a>
</div>
<footer>
</footer>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/my-js/paypal-success.js}"></script>
</body>

</html>