<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/consumer-layout.html}" th:with="isUserPage=true">
<th:block layout:fragment="css">
    <style>
        .bg-dark {
            background: #B0B435 !important;
        }
    </style>
</th:block>
<body>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/my-js/update-infor.js}"></script>
</th:block>
</body>
</html>