<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/consumer-layout.html}"
    th:with="isUserPage=true">
<th:block layout:fragment="css">
    <style>
        .bg-dark {
            background: #B0B435 !important;
        }

        form .show-message {
            font-size: 1.2rem;
        }

        form .show-message.error {
            background-color: #c1002a;
        }

        form .show-message.success {
            background-color: #05c148;
        }
    </style>
</th:block>

<body>
    <th:block layout:fragment="body">
        <div class="all-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Đổi mật khẩu</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/user/my-account}">Tài khoản của tôi</a></li>
                            <li class="breadcrumb-item active">Đổi mật khẩu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-box-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-sm-12">
                        <div class="border contact-form-right change-password-form p-0">
                            <div class="bg-dark  p-4">
                                <h2 class="text-form-title text-light">ĐỔI MẬT KHẨU</h2>
                            </div>
                            <form id="update-password-form" class="p-4">
                                <div class="row">
                                    <div class="col-md-12 h-75">
                                        <div class="form-group mb-4">
                                            <label>Mật khẩu hiện tại: </label>
                                            <input type="password" class="form-control" id="old-password"
                                                name="oldPassword" placeholder="Nhập mật khẩu hiện tại" required
                                                data-error="Vui lòng nhập mật khẩu hiện tại!">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 h-75">
                                        <div class="form-group mb-4">
                                            <label for="">Mật khẩu mới:</label>
                                            <input type="password" placeholder="Nhập mật khẩu mới" id="new-password"
                                                class="form-control" name="newPassword" required
                                                data-error="Vui lòng nhập mật khẩu mới!">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 h-75">
                                        <div class="form-group mb-4">
                                            <label>Xác thực mật khẩu mới:</label>
                                            <input type="password" class="form-control" id="confirm-password"
                                                name="confirmPassword" placeholder="Nhập lại mật khẩu mới" required
                                                data-error="Vui lòng xác thực mật khẩu!">
                                            <div class="help-block with-errors">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 h-75 mt-2">
                                        <div class="submit-button text-center">
                                            <div id="show-message"
                                                class="my-3 h-100 text-center show-message text-light"></div>
                                            <button class="btn hvr-hover" id="submit" type="submit">Cập nhật</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/my-js/update-infor.js}"></script>
    </th:block>
</body>

</html>