<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Start All Title Box -->
<div th:fragment="breadcumb" class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Shop Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
</html>